header {
  background-color: $primary;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  h1 {
    color: $white;
    font-family: $montserrat;
    font-size: 24px;
  }
}

@media only screen and (max-width: $mobile) {
  header {
    padding: 1rem 0rem;
  }
}
