.price-list {
  padding: 0.5rem 1rem 1rem;
  border: 1px solid $divider;
  border-radius: 4px;
  margin-bottom: 1rem;
  background-color: $white;
  transition: all ease 0.3s;

  &:hover {
    background-color: $black-warm;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__commodity {
    font-family: $montserrat;
    font-weight: 600;
  }

  &__area {
    @include caption;
  }

  &__date {
    @include caption;
    font-size: 10px;
  }

  &__label {
    @include caption;
    letter-spacing: 1px;
    margin-bottom: 0.25rem;
  }

  &__value {
    @include caption;
    font-weight: 600;
  }

  &__area {
    text-transform: capitalize;
  }
}

.price-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.form-create-price {
  background-color: $white;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid $divider;

  .btn-success {
    @include btn-eFishery;
  }
}

@media only screen and (max-width: $mobile) {
  .price-list {
    &-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      > div:nth-child(1),
      > div:nth-child(2) {
        margin-bottom: 0.25rem;
      }
    }
  }

  .price-header {
    flex-direction: column;
    align-items: baseline;

    h1 {
      margin-bottom: 1rem;
    }
  }
}
