.price-list {
  padding: 1.5rem;
  border: 1px solid $divider;
  border-radius: 4px;
  margin-bottom: 1rem;
  background-color: $white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &__commodity {
    font-size: 20px;
  }

  &__size {
    // color: red;
  }

  &__area {
    text-transform: capitalize;
  }
}
