* {
  box-sizing: border-box;
}

html,
body {
  background: $bg-default !important;
  margin: 0;
  height: 100%;
}

body {
  color: $dark;
  margin: 0;
  font-size: 14px;
  font-family: $openSans;
  font-weight: normal;
  line-height: 20px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $montserrat;
}

.container {
  width: 100%;
  max-width: $tablet;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}
