* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  color: $dark;
  margin: 0;
  font-size: 14px;
  font-family: $openSans;
  font-weight: normal;
  line-height: 20px;
}

a {
  color: $primary;
  &:hover {
    color: $primary;
  }
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $montserrat;
}

.container {
  width: 100%;
  max-width: $tablet;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
