//colors
$primary: #28b796;
$dark: rgba(0, 0, 0, 0.87);
$white: #fff;
$bg-default: #f9faf9;
$divider: rgba(0, 0, 0, 0.12);

// font
$openSans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// size
$desktop: 992px;
$tablet: 768px;
$mobile: 600px;
