//colors
$primary: #28b796;
$primary-02: #25a98b;
$primary-transparent: rgba(40, 183, 150, 0.01);
$dark: rgba(0, 0, 0, 0.87);
$white: #fff;
$bg-default: #f9faf9;
$divider: rgba(0, 0, 0, 0.12);
$black-warm: #fafafa;

// font
$openSans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// size
$desktop: 992px;
$tablet: 768px;
$mobile: 600px;
